<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Automation Tests">
  
  <classes>
  	<class name="tests.InvalidLoginTest"/>
 	<class name="tests.ValidLoginTest"/>
 	<class name="tests.OrderFlowTest"/>
 	<class name="tests.MultipleItemsCartTest"/>
 	<class name="tests.RemoveItemFromCartTest"/>
 	<class name="tests.SortAndLogoutTest"/>
   </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
